.menu-btn {
    display: none;
}

@media only screen and (max-width: 665px) {
    .menu-btn {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;

        margin-right: 24px;

    }

    .menu-icon{
        position: absolute;
        right: 40px;
        top: 10px;
        transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
    }


    .menu-icon.bars.hidden {
        transform: rotate(90deg);
        opacity: 0;
    }


    .menu-icon.X.hidden {
        transform: rotate(-90deg);
        opacity: 0;
    }



}