.container{
    width: 100%;
   
    padding: 10px;
    color: #fff;
}

.container_img{
    margin-bottom: 20px;
}

.img_main{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 8px;
}

.container_info{
    position: relative;
    display: flex;
    align-items: center;

    position: relative;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.img_info{

    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 4px;
}

.text{
    display: flex;
    flex-direction: column;
    gap:10px
}

p{
    font-size: 14px;
    font-weight: bold;
}

.container_icon{

    position: absolute;
    right: 5px;
    top:20px;
    cursor: pointer;

}

@media only screen and (max-width: 500px) {
    .img_main{
       
        max-width: 380px
    }

    .img_info{

        height: 50px;
        max-width: 80px;
        margin-right: 5px;
    }

    p{
        font-size: 10px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 400px) {
    .img_main{
       
       width: 100%;
    }
}


