.search-container{
    width: 100%;
    margin-top: 10px;
}

.search-form{
    display: flex;
    padding: 0 5px;
    position: relative;
}

.search-input{
    height: 40px;
   flex-grow: 2;
   border:none;
   padding: 8px;
   font-family: 'Segoe UI';
}

.search-btn{
    height: 40px;
    background-color: #f953c6;
    border: none;
    cursor: pointer;
}

.search-close{
    position: absolute;
    top:10px;
    right: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    border-radius: 110%;
    border: none;
    cursor: pointer;

    padding: 0;
    background-color: rgb(212, 212, 212);
}

.search-btn:hover{
    opacity: 0.7;
}

